    <%- include("../partials/header")%>


<div class="container-fluid">
    <header class="jumbotron">
        <div class="container text-center">
            <h1>Campgrounds page</h1>
            <p>Hand pick ur site</p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add Campground</a>
        </div>
    </header>


    <div class="row">
        <% campgrounds.forEach(function(camp){ %>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img  src=" <%= camp.img %> " alt="" width="100%">
                <div class="card-body">
                   
                        <p class="text-center"><%= camp.name %></p>                  
                        <p class="text"><%= camp.description.substring(0,100)%>...</p>
                    
                    <div class="text-center">
                        <button class="btn btn-default"><a href="/campgrounds/<%= camp._id %>">more info</a></button>
                    </div>
                </div>
                
            </div>
        </div>
        <% }) %>

    </div>


</div>
<%- include("../partials/footer")%>